.recruit-header-2{
    width: 100%;
    /* height: 80px; */
    background-color: black;
    vertical-align: top;
}

.recruit-header-logo{
    display: inline-block;
    vertical-align: middle;
    height: 80px;
}

/* .recruit-header-link{

} */


.header-btn-2{
    text-align: right;
    display: inline-block;
    
}

.recruit-header-link-2{
    display: inline-block;
    width: 150px;
    /* height: 80px; */
    padding: 28px 0;
    color: #fff;
    text-align: center;
    font-weight: bold;
    /* margin: auto; */
    font-size: 12px;
    vertical-align: middle;
    margin: 0 20px;
}

.recruit-header-link-2:hover{
    color: #cd3333;
    border-bottom:3px solid #cd3333 ;
    transition: all 0.2s;
}