/* serviceページ */

.service-top{
    text-align: center;
}

.service-top-img{
    background-image:url("img/pc1.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
    text-align: center;
}

.service-top-img h2{
    /* margin: auto; */
    padding-top: 200px;
    color: #fff;
    font-size: 30px;
}

.company-top-img{
    background-image:url("img/vision.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
    text-align: center;
}

.company-top-img h2{
    /* margin: auto; */
    padding-top: 200px;
    color: #fff;
    font-size: 30px;
}

.service-title{
    text-align: center;
    padding: 50px 0;
}

.service-content{
    background-color: #f1f1f1;
    text-align: center;
    padding-bottom: 50px;
}

.service-contents{
    padding: 100px 20px;
    text-align: left;
    position: relative;
}

.service-contents img{
    width: 700px;
    height: 470px;
    z-index: 1;
    left: 20px;
}

.service-right{
    width: 600px;
    background-color: #fff;
    padding: 15px;
    z-index: 2;
    position: absolute;
    right: 30px;
    bottom: 300px;
}

.service-right h2{
    color: #12589d;
    font-size: 24px;
}

.service-right P{
}

.service-bottom{
    width: 1100px;
    background-color: #fff;
    padding: 20px;
    z-index: 2;
    position: absolute;
    margin: auto;
    bottom: 5px;
    left: 100px;
    vertical-align: top;
}

.bottom-left{
    display: inline-block;
    vertical-align: top;
    width: 500px;
}

.bottom-right{
    display: inline-block;
    vertical-align: top;
    width: 500px;
}

.service-bottom h3{
    color: #12589d;
}

.service-bottom p{
    margin: 0;
    padding-left: 10px;
    padding-top: 5px;
}


/* companyページ */

.about-wrapper{
    padding: 50px 0 20px 0;
    text-align: center;
}

.about-contents{
    padding: 30px 0;
    text-align: center;
}

.abaout-content{
    border-bottom: solid 1px #dcdcdc;
    text-align: left;
    width: 90%;
    display: inline-block;
}

.about-left{
    display: inline-block;
    width: 30%;
    padding: 20px;
    font-weight: bold;
    text-align: center;
}

.about-right{
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}



/* accessページ */

.access-top-img{
    background-image:url("img/walk.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
    text-align: center;
}

.access-top-img h2{
    padding-top: 200px;
    color: #fff;
    font-size: 30px;
}

.accwss-wrapper{
    text-align: center;
    padding: 50px 0 20px 0;
}



