/* serviceページ */

.service-top{
    text-align: center;
}

.service-top-img{
    background-image:url("img/pc1.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
    text-align: center;
}

.service-top-img h2{
    /* margin: auto; */
    padding-top: 200px;
    color: #fff;
    font-size: 30px;
    text-shadow: 1px 2px 3px #808080;
}

.service-title{
    text-align: center;
    padding: 50px 0;
}

.service-content{
    background-color: #f1f1f1;
    text-align: left;
    padding: 50px 0;
}

.service-contents{
    text-align: left;
    position: relative;
}

.service-contents img{
    width: 700px;
    height: 470px;
    z-index: 1;
    left: 20px;
    margin-left: 20px;
}

.service-right{
    width: 600px;
    background-color: #fff;
    padding: 15px;
    z-index: 2;
    position: absolute;
    right: 30px;
    bottom: 300px;
    text-align: left;
}

.service-right h2{
    color: #12589d;
    font-size: 24px;
}

.service-right P{
    font-size: 14px;
    padding: 10px 0;
}

.service-bottom{
    width: 1100px;
    background-color: #fff;
    padding: 20px;
    z-index: 2;
    position: absolute;
    margin: auto;
    bottom: 5px;
    left: 100px;
    vertical-align: top;
    display: inline-block;
}

.service-bottom-c{
    width: 45%;
    display: inline-block;
    text-align: left;
    vertical-align: top;
}

.service-bottom-c h3{
    color: #12589d;
    font-size: 18px;
}

.service-bottom-c p{
    font-size: 12px;
    padding: 5px 0 ;
}

.bottom-left{
    display: inline-block;
    vertical-align: top;
    width: 500px;
}

.bottom-right{
    display: inline-block;
    vertical-align: top;
    width: 500px;
}

.service-bottom h3{
    color: #12589d;
}

.service-bottom p{
    margin: 0;
    padding-left: 10px;
    padding-top: 5px;
}


/* companyページ */

.company-top-img{
    background-image:url("img/vision.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
    text-align: center;
}

.company-top-img h2{
    /* margin: auto; */
    padding-top: 200px;
    color: #fff;
    font-size: 30px;
    text-shadow: 1px 2px 3px #808080;
}

.about-wrapper{
    padding: 50px 0 20px 0;
    text-align: center;
}

.about-contents{
    padding: 30px 0;
    text-align: center;
}

.abaout-content{
    border-bottom: solid 1px #dcdcdc;
    text-align: left;
    width: 90%;
    display: inline-block;
}

.about-left{
    display: inline-block;
    width: 30%;
    padding: 20px;
    font-weight: bold;
    text-align: center;
}

.about-right{
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}



/* accessページ */

.access-top-img{
    background-image:url("img/walk.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
    text-align: center;
}

.access-top-img h2{
    padding-top: 200px;
    color: #fff;
    font-size: 30px;
}

.accwss-wrapper{
    text-align: center;
    padding: 50px 0 20px 0;
}


/*
NEWSページ
*/
.news-top-img{
    background-image:url("img/work-bl.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
    text-align: center;
}

.news-top-img h2{
    /* margin: auto; */
    padding-top: 200px;
    color: #fff;
    font-size: 30px;
}


/*
CONTACTページ
*/
.contact-top-img{
    background-image:url("img/shake.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
    text-align: center;
}

.contact-top-img h2{
    /* margin: auto; */
    padding-top: 200px;
    color: #fff;
    font-size: 30px;
}

.contacts{
    text-align: center;
    width: 100%;
    margin-bottom: 50px;
}

.contact{
    display: inline-block;
    border: 1px solid #dcdcdc;
    width: 90%;
}

.contact-left{
    text-align: center;
    background-color: #f1f1f1;
    width: 25%;
    display: inline-block;
    vertical-align: middle;
}

.contact-left p{
    font-weight: bold;
    font-size: 15px;
    padding: 20px 0;
}

.contact-right{
    text-align: left;
    width: 70%;
    padding-left: 50px;
    display: inline-block;
    vertical-align: middle;
}

.contact-right input{
    height: 25px;
    width: 400px;
}

.contact-right select{
    height: 30px;
    width: 400px;
}

.contact-toll{
    height: 150px;
    display: inline-block;
    border: 1px solid #dcdcdc;
    width: 90%;
}

.contact-left-toll{
    text-align: center;
    background-color: #f1f1f1;
    width: 25%;
    display: inline-block;
    vertical-align: middle;
    padding: 63px 0;
}

.contact-left-toll p{
    font-weight: bold;
    font-size: 15px;
}

.contact-right-toll{
    text-align: left;
    width: 70%;
    padding-left: 50px;
    display: inline-block;
    vertical-align: middle;
}

.contact-right-toll textarea{
    height: 110px;
    width: 400px;
}

.contact-btn{
    color: #cd3333;
    text-decoration:none;
    margin: 50px 0;
}

.contact-btn input{
    border: 1px solid #cd3333;
    display: inline-block;
    color: #cd3333;
    width: 250px;
    text-decoration:none;
    padding: 15px 0;
    background-color: #fff;
    margin-left: 70px;
}

.contact-btn input:hover{
    background-color: #cd3333;
    transition: all 0.2s;
    color: #fff;
}






/*===========================
        responsive
=============================*/

@media (max-width: 960px){
    .service-top-img{
        height: 200px;
        text-align: center;
    }
    
    .service-top-img h2{
        /* margin: auto; */
        padding-top: 70px;
        color: #fff;
        font-size: 30px;
    }

    /* conpanyページ */

    .company-top-img{
        height: 200px;
        text-align: center;
    }
    
    .company-top-img h2{
        /* margin: auto; */
        padding-top: 70px;
        color: #fff;
        font-size: 30px;
        
    }

    .about-contents{
        padding: 0;
    }

    .about-left{
        display: block;
        width: 100%;
        text-align: center;
        padding: 0;
    }

    .about-left p{
        padding-top: 10px;
    }
    
    .about-right{
        display: block;
        text-align: center;
        width: 100%;
        padding: 10px 0 20px 0;
    }


    /* serviceページ */


    .service-content{
        background-color: #f1f1f1;
        text-align: left;
        padding: 50px 0;
    }
    
    .service-contents{
        text-align: center;
        position: relative;
    }
    
    .service-contents img{
        width: 90%;
        margin: 0;
    }
    
    .service-right{
        width: 80%;
        background-color: #fff;
        padding: 15px;
        z-index: 2;
        position: relative;
        right: 0px;
        bottom: 300px;
        text-align: left;
    }
    
    .service-right h2{
        color: #12589d;
        font-size: 24px;
    }
    
    .service-right P{
        font-size: 14px;
        padding: 10px 0;
    }
    
    .service-bottom{
        width: 80%;
        background-color: #fff;
        padding: 20px;
        z-index: 2;
        position:relative;
        margin: auto;
        bottom: 5px;
        left: 0px;
        display: block;
    }
    
    .service-bottom-c{
        width: 80%;
        display: block;
    }
    
    .service-bottom-c h3{
        color: #12589d;
        font-size: 18px;
    }
    
    .service-bottom-c p{
        font-size: 12px;
        padding: 5px 0 ;
    }
    
    .bottom-left{
        display: inline-block;
        vertical-align: top;
        width: 90%;
    }
    
    .bottom-right{
        display: inline-block;
        vertical-align: top;
        width: 90%;
    }
}